dj_database_url==0.5.0
dj_static==0.0.6
Django==3.2.0
python-decouple==3.7
django_smart_selects==1.6.0
django-allauth==0.43.0
django-bootstrap4==1.0.1
django-braces==1.15.0
django-ckeditor==5.9.0
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django-js-asset==1.2.2
django-phonenumber-field==7.0.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-smart-selects==1.6.0
django-stdimage==5.0.1
django-timezone-field==4.1.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
mysql==0.0.3
mysqlclient==2.0.3
