{% extends 'modelo.html' %}


{% load static %}

{% block up-content %}
{% endblock %}

{% block mid-content %}

<h3>List of Condition</h3>
<p class="lead">Here you will be able to edit and delete condition</p>
<a href="{% url 'condition' %}" class="btn btn-success btn-sm"><i class="fa fa-plus "></i> Register a Condition</a>
<hr>
<form action="?" method="GET">
    <input type="text" name="id" id="" value="{{ request.GET.id }}" class="p-1 border" autocomplete="off" placeholder="Condition ID">
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'ls-condition' %}" class="btn btn-light">Clean</a>
</form>
<hr>
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <th>Condition ID</th>
        <th>Patient ID</th>
        <th>Date of registration</th>
        <th>Options</th>
    </tr>

    {% for condition in object_list %}
    <tr>
        <td>{{ condition.id }}</td>
        <td>{{ condition.patient_conditions.id }}</td>
        <td>{{ condition.collected_data }}</td>
        <td>
            <a href="{% url 'ed-condition' condition.id %}" class="btn btn-warning btn-sm" title="Edit" ><i class="fa fa-edit "></i> Edit </a>
            <a href="{% url 'ex-condition' condition.id %}" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash-can "></i> Delete </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4"> Condition not found</td>
    </tr>
    {% endfor %}

</table>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">    <a class="page-link" href="?page={{page_obj.previous_page_number}}"><strong>Back</strong></a></li>
    {% endif %}

    <li class="page-item">
        <span class="page-link" ><strong>Page: {{ page_obj.number }}</strong></span>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">    <a class="page-link" href="?page={{page_obj.next_page_number}}"><strong>Next</strong></a></li>
    {% endif %}
</ul>

</div>

{% endblock %}
