{% extends 'modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block up-content %}
{% endblock %}

{% block mid-content %}

    <main class="flex-shrink-0">
        <div class="container">
            <h3>Excluir Registros</h3>
            <p>Confirme para excluir o registro definitivamente</p>
            <hr>

            <form action="" method="POST">

                <p>
                    Deseja excluir o registro: 
                
                
                    <strong>{{ object }}</strong>?
                </p>
                

                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <div>
                    <button type="submit" class="btn btn-danger" >Delete</button>
                </div>
                <hr>
            </form>
        </div>
{% endblock %}