{% extends 'modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block up-content %}
{% endblock %}

{% block mid-content %}

    <h3>{{ title }}</h3>
    <h3>
        Fill in all required fields
    </h3>
    <hr>

    <form action="" method="POST">

        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block" >Register</button>
        </div>
        <hr>
    </form>
    
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $("#div_id_type_dm").prop("hidden", true);
    $("#div_id_age_dm_diagnosis").prop("hidden", true);
    $("#div_id_dm_duration").prop("hidden", true);
    $("#div_id_hipo_mes").prop("hidden", true);
    $("#div_id_internacao_dm").prop("hidden", true);

    $(document).ready(function() {
        $("#id_dm").click(function (){
                    // habilita o campo 
                    // alert($("#id_dm").val() == 'on')
                if($("#id_dm").is(":checked") )
                {
                    
                    $("#div_id_type_dm").prop("hidden", false);
                    $("#div_id_age_dm_diagnosis").prop("hidden", false);
                    $("#div_id_dm_duration").prop("hidden", false);
                    $("#div_id_hipo_mes").prop("hidden", false);
                    $("#div_id_internacao_dm").prop("hidden", false);
                   
            }
                else{
                    $("#div_id_type_dm").prop("hidden", true);
                    $("#div_id_age_dm_diagnosis").prop("hidden", true);
                    $("#div_id_dm_duration").prop("hidden", true);
                    $("#div_id_hipo_mes").prop("hidden", true);
                    $("#div_id_internacao_dm").prop("hidden", true);
                }

        });

        $("#id_age").mask("000");
        $("#id_collected_data").mask("00/00/0000 00:00:00");
        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
          },
          spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
              }
          };
          
        $('#id_phone').mask(SPMaskBehavior, spOptions);
        
    });

</script>
{% endblock %}
